
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head><head>
	    <meta charset="UTF-8">
	    <meta name="description" content="Receptes Sanes">
	    <meta name="keywords" content="Receptes, sanes, menjar, sa">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	    <title>Receptes Sanes</title>
	
	    <!-- Google Font -->
	    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&display=swap"
	        rel="stylesheet">
	    <link href="https://fonts.googleapis.com/css?family=Unna:400,700&display=swap" rel="stylesheet">
	
	    <!-- Css Styles -->
	    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
	    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
	    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
	    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
	    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
	    <link rel="stylesheet" href="/css/style.css" type="text/css">
	</head></head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div>

		    <!-- Page Preloder -->
		    <div id="preloder">
		        <div class="loader"></div>
		    </div>
		
		    <!-- Humberger Begin -->
		    <div class="humberger__menu__overlay"></div>
		    <div class="humberger__menu__wrapper">
			    <!-- Humberger Begin -->
		        <div class="humberger__menu__logo">
		            <a href="/"><img src="/img/humberger/humberger-logo.png" alt=""></a>
		        </div>
		        <nav class="humberger__menu__nav mobile-menu">
		            <ul>
		                <li><a href="/">Inici</a></li>
		                <li ><a href="/receptes">Receptes</a></li>
		                <li class="dropdown"><a href="#">Categories</a>
		                    <ul class="dropdown__menu">
		                        <li><a href="/categoria/Amanides">Amanides</a></li>
		                        <li><a href="/categoria/Cuina">Cuina</a></li>
		                        <li><a href="/categoria/Vegetarianes">Vegetarianes</a></li>
		                        <li><a href="/categoria/Postres">Postres</a></li>
		                        <li><a href="/categoria/V%C3%ADdeos">Vídeos</a></li>
		                        <li><a href="/categoria/Aperitius">Aperitius</a></li>
		                        <li><a href="/categoria/Arrossos">Arrossos</a></li>
		                        <li><a href="/categoria/Carns%20i%20aviram">Carns i aviram</a></li>
		                        <li><a href="/categoria/Llegums%20i%20Verdures">Llegums i Verdures</a></li>
		                        <li><a href="/categoria/Ous%20i%20Truites">Ous i Truites</a></li>
		                        <li><a href="/categoria/Peixos%20i%20Mariscs">Peixos i Mariscs</a></li>
		                        <li><a href="/categoria/Sopes%20i%20Cremes">Sopes i Cremes</a></li>
		                    </ul>
		                </li>
		            </ul>
		        </nav>
		        <div id="mobile-menu-wrap"></div>
		    </div>
		    <!-- Humberger End -->
		</div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
	        <div class="header__top">
	            <div class="container">
	                <div class="row">
	                    <div class="col-lg-2 col-md-1 col-6 order-md-1 order-1">
	                        <div class="header__humberger">
	                            <i class="fa fa-bars humberger__open"></i>
	                        </div>
	                    </div>
	                    <div class="col-lg-8 col-md-10 order-md-2 order-3">
	                        <nav class="header__menu">
	                            <ul>
	                                <li><a href="/" >Inici</a></li>
	                                <li><a href="/receptes">Receptes</a>
	                                    <div class="header__megamenu__wrapper">
	                                        <div class="header__megamenu">
	                                            <div class="header__megamenu__item">
	                                                <div class="header__megamenu__item--pic set-bg"
	                                                    data-setbg="https://i.blogs.es/4b42ec/ensalada-coliflor-napolitana/650_1200.jpg">
	                                                    <div class="label">Amanides</div>
	                                                </div>
	                                                <div class="header__megamenu__item--text">
	                                                    <h5><a href="/recepta/8">Insalata di rinforzo: la ensalada napolitana de coliflor y anchoas típica de Navidad</a>
	                                                    </h5>
	                                                </div>
	                                            </div>
	                                            <div class="header__megamenu__item">
	                                                <div class="header__megamenu__item--pic set-bg"
	                                                    data-setbg="https://i.blogs.es/ede760/montaditos-saludables-de-berenjena-y-tomate/650_1200.jpg">
	                                                    <div class="label">Vídeos</div>
	                                                </div>
	                                                <div class="header__megamenu__item--text">
	                                                    <h5><a href="/recepta/26">Montaditos saludables de berenjena y tomate, receta para solucionar una cena sana en un santiamén (con vídeo incluido)</a>
	                                                    </h5>
	                                                </div>
	                                            </div>
	                                            <div class="header__megamenu__item">
	                                                <div class="header__megamenu__item--pic set-bg"
	                                                    data-setbg="https://i.blogs.es/3e974d/aguacates2/650_1200.jpg">
	                                                    <div class="label">Cuina</div>
	                                                </div>
	                                                <div class="header__megamenu__item--text">
	                                                    <h5><a href="/recepta/28">12 recetas con aguacate, ligeras, saludables e ideales para una dieta baja en carbohidratos</a>
	                                                    </h5>
	                                                </div>
	                                            </div>
	                                            <div class="header__megamenu__item">
	                                                <div class="header__megamenu__item--pic set-bg"
	                                                    data-setbg="https://i.blogs.es/76cb94/caponata-calabaza/650_1200.jpg">
	                                                    <div class="label">Vegetarianes</div>
	                                                </div>
	                                                <div class="header__megamenu__item--text">
	                                                    <h5><a href="/recepta/3">Caponata de calabaza: la receta para disfrutar del sabrosísimo plato italiano en los meses fríos (que casi nos gusta más)</a>
	                                                    </h5>
	                                                </div>
	                                            </div>
	                                            <div class="header__megamenu__item">
	                                                <div class="header__megamenu__item--pic set-bg"
	                                                    data-setbg="https://i.blogs.es/24d2f7/ensalada-limones-sardinas/650_1200.jpg">
	                                                    <div class="label">Aperitius</div>
	                                                </div>
	                                                <div class="header__megamenu__item--text">
	                                                    <h5><a href="/recepta/6">Limones rellenos de ensalada de sardinas: receta de aperitivo marinero refrescante para aligerar un menú de fiesta</a>
	                                                    </h5>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </li>
	                                
	                            </ul>
	                        </nav>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-3 col-md-3">
	                    <div class="header__btn">
	                        <a href="#" class="primary-btn">Subscribe</a>
	                    </div>
	                </div>
	                <div class="col-lg-6 col-md-6">
	                    <div class="header__logo">
	                        <a href="/"><img src="/img/logo.png" alt=""></a>
	                    </div>
	                </div>
	                <div class="col-lg-3 col-md-3 col-md-2">
	                    <div class="header__social">
	                        <a href="#"><i class="fa fa-facebook"></i></a>
	                        <a href="#"><i class="fa fa-twitter"></i></a>
	                        <a href="#"><i class="fa fa-youtube-play"></i></a>
	                        <a href="#"><i class="fa fa-instagram"></i></a>
	                        <a href="#"><i class="fa fa-envelope-o"></i></a>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </header>
    <!-- Header Section End -->

    <!-- Single Post Section Begin -->
    <section class="single-post spad">
        <div class="single-post__hero set-bg" data-setbg="https://i.blogs.es/677ddb/torrijas-fit/650_1200.jpg"></div>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="single-post__title">
                        <div class="single-post__title__meta">
                            <h2>??temporals.format_ca??</h2>
                            <span>??temporals.format_ca??</span>
                        </div>
                        <div class="single-post__title__text">
                            <ul class="label">
                                <li>Postres</li>
                            </ul>
                            <h4>Cómo hacer torrijas sin pan y sin azúcar: la versión más saludable baja en hidratos y sin gluten que había que probar</h4>
                            <ul class="widget">
                                <li>per <span>Liliana Fuchs</span></li>
                                <li>3 min lectura</li>
                                <li>0 Comentaris</li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-post__social__item">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                        </ul>
                    </div>
                    <div class="single-post__top__text">
                        <p>Las torrijas no son un postre ligero, negarlo sería autoengañarse. Sí podemos hacerlas más o menos calóricas cuidando detalles y eligiendo bien los...</p>
                    </div>
                    <div class="single-post__recipe__details">
                        <div class="single-post__recipe__details__option">
                            <ul>
                                <li>
                                    <h5><i class="fa fa-user-o"></i> COMENSALS</h5>
                                    <span>6</span>
                                </li>
                                <li>
                                    <h5><i class="fa fa-clock-o"></i> PREPARACIÓ</h5>
                                    
                                    
                                    
                                    
                                    <span>20 minuts</span>
                                </li>
                                <li>
                                    <h5><i class="fa fa-clock-o"></i> Cook TIME</h5>
                                    
                                    
                                    
                                    
                                    <span>50 minuts</span>
                                </li>
                                <li><a href="#" class="primary-btn"><i class="fa fa-print"></i> Read more</a></li>
                            </ul>
                        </div>
                        <div class="single-post__recipe__details__indegradients">
                            <h5>Ingredients</h5>
                            <ul>
                                <li>Ingredients</li>
                                <li>
                                	
                                	<span>2 Huevo</span>
                                	
                                </li>
                                <li>
                                	
                                	
                                	<span>500g Queso quark</span>
                                </li>
                                <li>
                                	
                                	
                                	<span>40g Almendra molida</span>
                                </li>
                                <li>
                                	
                                	
                                	<span>5g Lino molido</span>
                                </li>
                                <li>
                                	
                                	
                                	<span>5ml Esencia de vainilla</span>
                                </li>
                                <li>
                                	
                                	
                                	<span>2g Ralladura de limón</span>
                                </li>
                                <li>
                                	
                                	
                                	<span>80g Eritritol</span>
                                </li>
                                <li>
                                	<span>Canela molida</span>
                                	
                                	
                                </li>
                                <li>
                                	<span>Huevo batido</span>
                                	
                                	
                                </li>
                                <li>
                                	<span>Aceite de oliva virgen extra</span>
                                	
                                	
                                </li>
                            </ul>
                        </div>
                        <div class="single-post__recipe__details__direction">
                            <h5>Instruccions</h5>
                            <ul><li><span>1.</span> Precalentar el horno a 180ºC con calor arriba y abajo, <strong>sin aire</strong></li>
<li><span>2.</span> Forrar con papel antiadherente -sulfurizado- un molde rectangular pequeño de unos 18-20 cm de largo</li>
<li><span>3.</span> Se puede usar más grande, pero quedará una masa menos alta</li>
<li><span>4.</span> Escurrir el <strong>líquido o suero</strong> que pueda tener el quark o yogur</li>
<li><span>5.</span> Batir con una varillas o batidora junto con los huevos, la proteína en polvo o harina de almendra o avena, el lino molido o maizena, la vainilla, canela al gusto, edulcorante -opcional- y ralladura de limón fina</li>
<li><span>6.</span> Procurar que no haya grumos</li>
<li><span>7.</span> Llevar al molde y hornear durante unos 40-50 minutos, o hasta que al pinchar el centro con un palillo salga limpio</li>
<li><span>8.</span> Esperar unos minutos fuera del horno antes de desmoldar usando el papel; una vez frío por completo, secar el <strong>posible agua que suelte</strong> con papel de cocina -como si fuera tofu- y cortar en rebanadas más bien gruesas.<strong>Bañar en huevo batido</strong> y cocinar a la plancha con un poco de aceite</li>
<li><span>9.</span> Rebozar en eritritol mezclado con canela molida como haríamos con torrijas normales y servir templadas o frías</li>
</ul>
                        </div>
                    </div>
                    <div class="single-post__tags">
                        <a href="#">sin azúcar</a><a href="#">proteínas</a><a href="#">Torrijas</a><a href="#">Recetas Saludables</a><a href="#">Recetas sin Gluten</a><a href="#">Recetas de Semana Santa</a><a href="#">Postres</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Single Post Section End -->


	<footer class="footer">
		    <!-- Footer Section Begin -->
	        <div class="container-fluid">
	            <div class="footer__instagram">
	                <div class="footer__instagram__avatar">
	                    <div class="footer__instagram__avatar--pic">
	                        <img src="/img/footer/instagram-avatar.jpg" alt="">
	                    </div>
	                    <div class="footer__instagram__avatar--text">
	                        <h5>@ foodieblog</h5>
	                        <span>23,7k follower</span>
	                    </div>
	                </div>
	                <div class="row">
	                    <div class="col-lg-2 col-md-2 col-sm-4 col-6">
	                        <div class="footer__instagram__item set-bg" data-setbg="/img/footer/ip-1.jpg"></div>
	                    </div>
	                    <div class="col-lg-2 col-md-2 col-sm-4 col-6">
	                        <div class="footer__instagram__item set-bg" data-setbg="/img/footer/ip-2.jpg"></div>
	                    </div>
	                    <div class="col-lg-2 col-md-2 col-sm-4 col-6">
	                        <div class="footer__instagram__item set-bg" data-setbg="/img/footer/ip-3.jpg"></div>
	                    </div>
	                    <div class="col-lg-2 col-md-2 col-sm-4 col-6">
	                        <div class="footer__instagram__item set-bg" data-setbg="/img/footer/ip-4.jpg"></div>
	                    </div>
	                    <div class="col-lg-2 col-md-2 col-sm-4 col-6">
	                        <div class="footer__instagram__item set-bg" data-setbg="/img/footer/ip-5.jpg"></div>
	                    </div>
	                    <div class="col-lg-2 col-md-2 col-sm-4 col-6">
	                        <div class="footer__instagram__item set-bg" data-setbg="/img/footer/ip-6.jpg"></div>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-12">
	                    <div class="footer__text">
	                        <div class="footer__logo">
	                            <a href="#"><img src="/img/logo.png" alt=""></a>
	                        </div>
	                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
	                            ut<br /> labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus
	                            commodo viverra<br /> maecenas accumsan lacus vel facilisis. </p>
	                        <div class="footer__social">
	                            <a href="#"><i class="fa fa-facebook"></i></a>
	                            <a href="#"><i class="fa fa-twitter"></i></a>
	                            <a href="#"><i class="fa fa-instagram"></i></a>
	                            <a href="#"><i class="fa fa-youtube-play"></i></a>
	                            <a href="#"><i class="fa fa-envelope-o"></i></a>
	                        </div>
	                    </div>
	                    <div class="footer__copyright">
	                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
	  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
	  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
	                    </div>
	                </div>
	            </div>
	        </div>
		    <!-- Footer Section End -->
	    </footer>
			
	<div>
		    <!-- Js Plugins -->
		    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
		    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
		    <script type="text/javascript" src="/js/jquery.slicknav.js"></script>
		    <script type="text/javascript" src="/js/owl.carousel.min.js"></script>
		    <script type="text/javascript" src="/js/main.js"></script>		
		</div>
</body>

</html>