<!DOCTYPE html>
<html lang="ca" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head th:insert="~{fragments :: head}"></head>
<body>
    <!-- Page preloader and Humberger Begin -->
    <div th:include="~{fragments :: menu}"></div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header th:replace="~{fragments :: header}"></header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
        	<div th:replace="~{fragments :: hero-item-4(${receptesCarrusel.subList(0,4)})}"></div>
        	<div th:replace="~{fragments :: hero-item-4(${receptesCarrusel.subList(4, 8)})}"></div>
        </div>
    </section>
    <!-- Hero Section End -->

	<footer th:replace="fragments :: footer"></footer>
		
	<div th:include="fragments :: javascript"></div>
</body>

</html>