<!DOCTYPE html>
<html lang="ca" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head th:insert="~{fragments :: head(${#strings.concat(keyword.nom, ' (', #lists.size(receptes), ')')}, 'Receptes Sanes'"></head>
<body>
    <!-- Page preloader and Humberger Begin -->
    <div th:include="~{fragments :: menu}"></div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header th:replace="~{fragments :: header}"></header>
    <!-- Header Section End -->

    <!-- Categories Section Begin -->
    <section class="categories categories-grid spad">
        <div class="categories__post">
            <div class="container">
                <div class="categories__grid__post">
                    <div class="row">
                        <div class="col-lg-8 col-md-8">
                            <div class="breadcrumb__text">
                                <h2><span th:text="${#lists.size(receptes)}">0</span>&nbsp;Receptes amb la keyword <span th:text="${keyword.nom}">Keyword</span></h2>
                                <div class="breadcrumb__option">
                                    <a href="#" th:href="@{/}">Inici</a>
                                    <span>Receptes</span>
                                </div>
                            </div>
                            <div class="categories__list__post__item" th:each="recepta : ${receptes}">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3">
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                    	<div class="categories__post__item__pic small__item set-bg"
											data-setbg="img/categories/categories-post/cp-2.jpg" th:data-setbg="@{${recepta.urlImatge}}">
											<div class="post__meta">
												<h4 th:text="${#temporals.format(recepta.publicacio, 'dd')}">08</h4>
												<span th:text="${#temporals.monthNameShort(recepta.publicacio)}">Aug</span>
											</div>
										</div>
                                        <div class="categories__post__item__text">
                                            <span class="post__label">Recepta</span>
                                            <h3><a href="#" th:href="@{/recepta/{id}(id=${recepta.id})}" th:text="${recepta.nom}">Nom de la recepta</a></h3>
                                            <ul class="post__widget">
                                                <li>per <span th:text="${recepta.autor}">Autor</span></li>
                                            </ul>
                                            <p th:if="${#strings.length(recepta.descripcio) &lt; 150}" th:text="${recepta.descripcio}">descripció menor de 150</p>
                                            <p th:if="${#strings.length(recepta.descripcio) &gt;= 150}" th:text="${#strings.append(#strings.substring(recepta.descripcio,0,150),'...')}">descripció major de 150...</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="sidebar__item">
                                <div class="sidebar__follow__item">
                                    <div class="sidebar__item__title">
                                        <h6>Follow me</h6>
                                    </div>
                                    <div class="sidebar__item__follow__links">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                        <a href="#"><i class="fa fa-envelope-o"></i></a>
                                    </div>
                                </div>
                                <div class="sidebar__item__banner">
                                    <img src="img/sidebar/banner.jpg" th:src="@{/img/sidebar/banner.jpg}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

	<footer th:replace="fragments :: footer"></footer>
			
	<div th:include="fragments :: javascript"></div>
</body>

</html>