<!DOCTYPE html>
<html lang="ca" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head th:insert="~{fragments :: head(${recepta.nom}, ${recepta.descripcio}) }"></head>
<body>
    <!-- Page preloader and Humberger Begin -->
    <div th:include="~{fragments :: menu}"></div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header th:replace="~{fragments :: header}"></header>
    <!-- Header Section End -->

    <!-- Single Post Section Begin -->
    <section class="single-post spad">
        <div class="single-post__hero set-bg" data-setbg="img/categories/single-post/single-post-hero.jpg" th:data-setbg="@{${recepta.urlImatge}}"></div>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="single-post__title">
                        <div class="single-post__title__meta">
                            <h2 th:text="${#temporals.format(recepta.publicacio, 'dd')}">08</h2>
                            <span th:text="${#temporals.monthNameShort(recepta.publicacio)}">Aug</span>
                        </div>
                        <div class="single-post__title__text">
                            <ul class="label">
                                <li><a href="#" th:href="@{/categoria/{categoria}(categoria=${recepta.categoria})}" th:text="${recepta.categoria}">categoria</a></li>
                            </ul>
                            <h4 th:text="${recepta.nom}">Nom</h4>
                            <ul class="widget">
                                <li>per <span th:text="${recepta.autor}">Admin</span></li>
                                <li>3 min lectura</li>
                                <li><span th:text="${recepta.comentaris.size()}">0</span> Comentaris</li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-post__social__item">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                        </ul>
                    </div>
                    <div class="single-post__top__text">
                        <p th:text="${recepta.descripcio}">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua accusantium doloremque laudantium. </p>
                    </div>
                    <div class="single-post__recipe__details">
                        <div class="single-post__recipe__details__option">
                            <ul>
                                <li>
                                    <h5><i class="fa fa-user-o"></i> COMENSALS</h5>
                                    <span th:text="${recepta.nombreServeis}">4</span>
                                </li>
                                <li>
                                    <h5><i class="fa fa-clock-o"></i> PREPARACIÓ</h5>
                                    <span th:if="${recepta.tempsPreparacio.toHours() == 1}">1 hora</span>
                                    <span th:if="${recepta.tempsPreparacio.toHours() &gt; 1}" th:text="${#strings.concat(#numbers.formatInteger(recepta.tempsPreparacio.toHours(), 1), ' hores')}">2 hores</span>
                                    <span th:if="${recepta.tempsPreparacio.toHours() &gt; 0 AND recepta.tempsPreparacio.toMinutes() &gt; 0}" > i </span>
                                    <span th:if="${recepta.tempsPreparacio.toMinutes() == 1}">1 minut</span>
                                    <span th:if="${recepta.tempsPreparacio.toMinutes() &gt; 1}" th:text="${#strings.concat(#numbers.formatInteger(recepta.tempsPreparacio.toMinutes(), 1), ' minuts')}">15 minuts</span>
                                </li>
                                <li th:if="${recepta.tempsCoccio.present}">
                                    <h5><i class="fa fa-clock-o"></i> COCCIÓ</h5>
                                    <span th:if="${recepta.tempsCoccio.get().toHours() == 1}">1 hora</span>
                                    <span th:if="${recepta.tempsCoccio.get().toHours() &gt; 1}" th:text="${#strings.concat(#numbers.formatInteger(recepta.tempsCoccio.get().toHours(), 1), ' hores')}">2 hores</span>
                                    <span th:if="${recepta.tempsCoccio.get().toHours() &gt; 0 AND recepta.tempsCoccio.get().toMinutes() &gt; 0}" > i </span>
                                    <span th:if="${recepta.tempsCoccio.get().toMinutes() == 1}">1 minut</span>
                                    <span th:if="${recepta.tempsCoccio.get().toMinutes() &gt; 1}" th:text="${#strings.concat(#numbers.formatInteger(recepta.tempsCoccio.get().toMinutes(), 1), ' minuts')}">15 minuts</span>
                                </li>
                                <li><a href="#" class="primary-btn"><i class="fa fa-print"></i> Imprimir</a></li>
                            </ul>
                        </div>
                        <div class="single-post__recipe__details__indegradients">
                            <h5>Ingredients</h5>
                            <ul>
                                <li th:each="ingredient : ${recepta.ingredients}">
                                	<span th:if="${ingredient.mesura == 'undef'}" th:text="${ingredient.ingredient}"></span>
                                	<span th:if="${ingredient.mesura == 'count'}" th:text="${#strings.concat(ingredient.quantitat, ' ', ingredient.ingredient)}"></span>
                                	<span th:if="${ingredient.mesura != 'undef' AND ingredient.mesura != 'count'}" th:text="${#strings.concat(ingredient.quantitat, ingredient.mesura, ' ', ingredient.ingredient)}"></span>
                                </li>
                            </ul>
                        </div>
                        <div class="single-post__recipe__details__direction">
                            <h5>Instruccions</h5>
                            <ul th:with="instruccions=${#strings.listSplit(recepta.instruccions,'|')}">
                                <li th:each="instruccio, iterStat: ${instruccions}">
                                <span th:text="${#strings.concat(#numbers.formatInteger(iterStat.count,1),'.', '&nbsp;')}">1.</span><text th:utext="${instruccio}">Combine all of the ingredients, kneading to form a smooth dough.</text></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-post__comment">
                        <div class="widget__title">
                            <h4><span th:unless="${#lists.isEmpty(recepta.comentaris)}" th:text="${#lists.size(recepta.comentaris)}">0</span> Comentaris</h4>
                        </div>
                        <div class="single-post__comment__item" 
                        		th:unless="${#lists.isEmpty(recepta.comentaris)}"
                        		th:each="c : ${recepta.comentaris}">
                            <div class="single-post__comment__item__text">
                                <h5 th:text="${c.autor}">Autor del comentari</h5>
                                <span th:text="${#temporals.format(c.tsCreacio, 'dd MMM yyyy HH:mm')}">15 Aug 2017</span>
                                <p th:text="${c.text}">Text del comentari</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                    <li><a href="#"><i class="fa fa-share-square-o"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="single-post__leave__comment">
                        <div class="widget__title">
                            <h4>Desa un comentari</h4>
                        </div>
                        <form method="post" action="/recepta/{id}/commentari" th:action="@{/recepta/{id}/commentari(id=${recepta.id})}", th:object="${comentari}">
                            <div class="input-list">
                                <input type="text" placeholder="Nom complet" name="autor" th:field="*{autor}">
                            </div>
                            <textarea placeholder="Comentari" name="text" th:field="*{text}"></textarea>
                            <input type="hidden" name="idRecepta" value="0" th:field="*{idRecepta}" />
                            <button type="submit" value="Desa!" class="site-btn">Desa!</button>
                        </form>
                    </div>
                    <div class="single-post__tags">
                        <a href="#" th:each="kw : ${recepta.keywords}" th:text="${kw}" th:href="@{/keyword/{keyword}(keyword=${kw})}">Keyword</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Single Post Section End -->

	<footer th:replace="fragments :: footer"></footer>
			
	<div th:include="fragments :: javascript"></div>
</body>

</html>